@import url(varaibles.css);

@font-face {
    font-family: "ComoforBold";
    src: url(../storage/fonts/comfortaa/Comfortaa-Bold.ttf);
}
@font-face {
    font-family: "ComforRegular";
    src: url(../storage/fonts/comfortaa/Comfortaa-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #32323220;
    width: 100vw;
    height: 100vh;
}



.mainBodyDiv{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1;
    grid-template-rows: 200px calc(100% - 200px);
}


#mBDS1{
    background-color: var(--color-1);
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: repeat(2, 1fr);
}
#mBDS2{
    display: flex;
    flex-direction: column;
    gap: 4px;
    overflow: hidden;
    overflow-y: auto;
}

#infoD1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: calc(100% - 120px) 120px;
    grid-template-rows: 1;
}

#infoD11{
    display: flex;
    align-items: center;
}
#infoD12{
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: right;
}

#findUsers{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1;
    background-color: var(--color-2);
    width: 80%;
    height: 50%;
    border-radius: 20px;
}

.findUsersInfo{
    display: flex;
    justify-content: center;
    align-items: center;
}

#findUsersImg{
    filter: invert();
    height: 20px;
    width: 20px;
}

#findUsersCont{
    color: #ffffff;
    font-family: "ComforBold", sans-serif;
    font-size: 20px;
}

#infoD2{
    display: flex;
    align-items: center;
    justify-content: center;
}

.textDiv{
    margin-left: 20px;
    color: #ffffff;
}
#title{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: "ComoforBold", sans-serif;
}
#subTitle{
    font-family: "ComforRegular", sans-serif;
    font-size: 20px;
}



.searchDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    width: calc(100% - 40px);
    height: 60px;
    background-color: var(--color-2);
}
#inputSearch{
    padding-left: 3ch;
    font-family: "ComforRegular", sans-serif;
    font-size: 20px;
    color: #ffffff;
    overflow: hidden;
    border-radius: 50px;
    background-color: none;
    width: 100%;
    height: 100%;
    background-color: var(--color-2);
    border: none;
}
#inputSearch:focus {
    outline: none;
}



.element{
    transition: 0.2s;
    padding: 20px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: 120px calc(100% - 120px);
    grid-template-rows: 1;
    height: 120px;
}
.element:hover{
    transform: translate(20px);
}


#eS1{
    display: flex;
    align-items: center;
    justify-content: center;
}
#eS2{
    display: flex;
    align-items: center;
}

.imgDiv{
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: #32323210;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.img{
    height: 100%;
}


.userTextDiv{
    margin-left: 20px;
}
#userName{
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bolder;
    font-family: "ComoforBold", sans-serif;
}
#userLocation{
    font-family: "ComforRegular", sans-serif;
    font-size: 20px;
}


@media (max-width: 600px) {
    #title{
        font-size: 24px;
    }
    #subTitle{
        font-size: 14px;
    }
    #userName{
        font-size: 20px;
    }
    #userLocation{
        font-size: 12px;
    }
}